:root {
  --gold: #f3bb00;
  --gray-dark: #131313;
  --gray-lighter: #1d1d1d;
  --gray-light: #292929;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: white;
  background-color: var(--gray-dark);
}

.root {
  overflow-x: hidden;
  position: relative;
}

header {
  top: 0;
  z-index: 100;
}

header a {
  color: white;
  text-decoration: none;
}

header a:hover {
  color: var(--gold);
}

.header_container {
  width: 100vw;
  min-height: 20vh;
  background-color: var(--gray-dark);
  display: flex;
  color: white;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
}

.main_nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: hidden;
}

.header_logo {
  padding-right: 20px;
}

.header_logo img {
  width: 120px;
}

.header_nav_item {
  display: block;
  padding: 0 15px;
  text-transform: uppercase;
  transition: 200ms hover ease-in;
  cursor: pointer;
}

.selected {
  color: var(--gold);
}

.header_nav {
  display: none;
}

.header_nav_mobile {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header_nav_item:hover {
  color: var(--gold);
}

.header_nav_burger > i {
  font-size: 2rem;
}

.header_menu_bg {
  padding: 20px;
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh !important;
  z-index: 5;
  width: 70vw;
  background-color: var(--gray-lighter);
  transform: translateX(100%);
  transition: 200ms transform ease-in-out;
  overflow: hidden;
}

.header_menu_bg[data-active="true"] {
  transform: translateX(0);
}

.header_menu_bg[data-active="false"] {
  transform: translateX(100%);
}

.header_menu_bg_exit_btn {
  width: 100%;
  text-align: end;
}

.header_menu_bg_exit_btn > i {
  font-size: 2rem;
}

.header_contact {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.header_contact_mobile {
  position: absolute;
  bottom: 20px;
  transform: translateY(-100%);
  display: flex;
  flex-direction: column;
}

.header_contact_mobile i,
.header_contact i {
  color: var(--gold);
  padding-right: 8px;
}

.hero_container {
  overflow: hidden;
  width: 100vw;
  height: 80vh;
  position: relative;
}

.hero_img_3,
.hero_img_2,
.hero_img_1 {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.hero_img_1 {
  background-image: url('./../images/hero_img-1.jpg');
}

.hero_img_2 {
  background-image: url('./../images/hero_img-2.jpg');
}

.hero_img_3 {
  background-image: url('./../images/hero_img-3.jpg');
}


.hero_background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: var(--gray-dark);
  opacity: 0.7;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_text {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 1.5rem;
  width: 75vw;
  text-align: center;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel_slides {
  width: 100%;
  height: 100%;
}

.carousel > ul {
  margin: 0;
  padding: 0;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 700ms opacity ease-in-out;
  transition-delay: 700ms;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.active_slide {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

/* footer styles */

footer {
  background-color: var(--gray-dark);
  border-top: 2px solid var(--gold);
}

.footer_container {
  padding: 40px;
  display: flex;
  width: 100vw;
  padding: 10px 40px;
  flex-direction: column;
}

.footer_container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer_logo {
  align-self: center;
  flex: 1;
  width: 100%;
  order: 0;
}

.footer_subcontainer:nth-child(1) {
  order: 2;
}

.footer_subcontainer:nth-child(2) {
  order: 3;
}

.footer_subcontainer {
  gap: 40px;
  flex: 1;
}

.footer_subcontainer ul {
  list-style: none;
}

.footer_subcontainer ul > li {
  padding-top: 6px;
}

.footer_subcontainer ul > li > a > i {
  list-style: none;
  padding-right: 5px;
  color: var(--gold);
}

.footer_section_title {
  font-size: 1.35rem;
  display: block;
  padding-bottom: 10px;
}

.footer_quote {
  display: block;
  width: 30%;
}

address,
address a,
.footer_socials  a {
  text-decoration: none;
  color: white;
  font-style: normal;
}

address > ul > li > i {
  margin-right: 5px; 
  color: var(--gold);
}

/* features section styles */

.features_container {
  background-color: var(--gray-lighter);
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1fr;
  min-height: 50vh;
  gap: 15px;
  padding: 20px 20px;
}

.beers_title,
.features_title {
  border-bottom: 4px solid var(--gold);
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.features_ft {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: var(--gray-light);
  padding: 20px;
  border-radius: 10px;
}

.features_ft_text {
  flex: 5;
}

.features_ft_img {
  flex: 1;
}

.features_ft_img img {
  width: 100%;
}

.features_ft_title {
  margin-bottom: 15px;
}

.beers_title > h1,
.features_title > h1 {
  font-size: 2.2rem;
}

.features_ft_desc {
  text-align: justify;
}

.map_container {
  height: 40vh;
}

.map_container iframe {
  width: 80%;
  margin: 0 auto;
  height: 100%;
  filter: grayscale(100%) invert(100%) contrast(83%) brightness(0.7);
}

.visit_section {
  background-color: var(--gray-lighter);
}
.visit_container {
  display: flex;
  background-color: var(--gray-lighter);
  min-height: 60vh;
  padding: 20px 20px;
}

.visit_img {
  display: none;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.visit_img img {
  width: 50%;
}

.visit_text {
  flex: 2;
}

.visit_text h3 {
  font-size: 1.4rem;
  padding: 10px 0;
}

.visit_text h2 {
  font-size: 2.2rem;
  display: block;
  width: 100%;
  border-bottom: 4px solid var(--gold);
  padding-bottom: 10px;
}

.visit_text ul {
  list-style: none;
}

.visit_text li {
  margin: 10px 0;
}

.visit_text li span {
  font-weight: bold;
}

.visit_text li i {
  color: var(--gold);
  margin-right: 5px;
}

.visit_text p {
  margin-top: 10px;
}

.visit_text button {
  margin-top: 12px;
  padding: 20px 40px;
  border: 2px solid var(--gold);
  border-radius: 30px;
  background-color: var(--gray-lighter);
  transition: 200ms background-color ease-in-out;
  color: white;
}

.visit_text button:hover {
  background-color: var(--gold);
}

.review_section {
  background-color: var(--gray-dark);
}

.reviews_container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  margin: 20px 20px;
  background-color: var(--gray-light);
  margin-bottom: 20px;
}

.review_author {
  display: flex;
  margin-bottom: 15px;
  gap: 15px;
  align-items: center;
}

.review_author_text span {
  font-weight: 300;
}

.review_card {
  padding: 10px;
  flex-grow:1;
}

.review_author img {
  display: block;
  border-radius: 50%;
  width: 15%;
  flex-shrink: 0;
}

.review_text {
  text-align: justify;
}

@media only screen and (min-width: 768px) {
  .reviews_container {
    flex-direction: row;
    padding: 40px 120px;
    flex-wrap: wrap;
  }
  .review_card {
    flex-shrink: 0;
    flex-basis: 260px;
    padding: 0;
  }

  .main_nav {
    display: flex;
    justify-content: start;
  }

  .header_nav_burger {
    display: none;
  }

  .header_nav {
    display: flex;
    align-items: center;
  }

  .header_contact {
    display: flex;
  }

  .header_container {
    border-bottom: 2px var(--gold) solid;
  }

  .hero_text {
    font-size: 2rem;
  }

  .footer_container {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  .footer_logo {
    order: 2;
  }

  .footer_subcontainer:nth-child(1) {
    order: 1;
  }

  .footer_subcontainer:nth-child(1) {
    order: 3;
  }

  .footer_container > div {
    text-align: left;
  }

  .features_container {
    grid-template-columns: 1fr 1fr;
    padding: 60px 120px;
  }

  .features_title {
    grid-column: span 2;
  }

  .features_ft_text {
    flex: 4;
  }

  .features_ft_img {
    flex: 1;
  }

  .visit_img {
    display: flex;
  }

  .visit_container {
    padding: 20px 120px;
  }

}

@media only screen and (max-width: 767.99px) {
  .footer_section_title {
    border-bottom: 2px solid var(--gold);
    display: block;
    margin-bottom: 5px;
  }

  .footer_subcontainer > div {
    width: 50%;
  }

  .footer_container {
    gap: 25px;
  }

  .visit_text button {
    display: block;
    width: 60%;
    margin: 12px auto;
  }

}
